* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif !important;
    width: 100%;
    height: 100%;
}

.d-flex {
    display: flex;
}

section.joinUs {
    background-image: url('./../img/bg.jpg');
    flex: 66%;
    height: 100vh;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgba(0, 0, 0, 0.75);
}

section.form{
    flex: 34%;
}

h1.joinUs {
    line-height: 1.16;
    text-align: center;
    font-size: 4.1875rem;
    width: 60%;
    color: #29e7d6
}

/* form */
.form-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid; */
    
}


.form-heading {
    text-align: center;
    margin: 15px 0 3px 0;
    zoom:1.1;
}

.form-heading img {
    width: 66%;
}

.form-heading h4 {
    font-size: 1rem;
    text-align: center;
    color: #393c40;
    font-weight: normal;
    margin: 10px 0 15px
}

.form-body {
    text-align: center;
    width: 97%;
    zoom:1.1;
    height: fit-content;
}

.form-body form input {
    border: none;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0;
    padding: 10px 10px;
    font-size: 16px;
    transition: all .5s;
    width: 90%;
    margin: 15px 0 15px 0;
}

.form-body form input::placeholder {
    color: rgba(43, 42, 42, 0.376)
}


.form-body form input:focus {
    outline: none;
    border-color: #170ff0 !important;
    box-shadow: 0 0 0 0px rgb(24 144 255 / 20%) !important;
}

.form-body form input:focus::placeholder {
    color: rgba(43, 42, 42, 0.726)
}

.form-body form input:placeholder-shown {
    text-overflow: ellipsis;
}


.form-body form button {
    cursor: pointer;
    border: none;
    width: 95%;
    border-radius: 2px;
    color: white;
    padding: 15px;
    font-size: 16px;
    font-size: 1rem;
    margin-top: 31px;
    background-color: #291bb9 !important;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    transition: all .3s;
}

.form-body form button:active {
    box-shadow: 0px 1px 6px 4px #096dd93b;
}

.form-footer {
    width: 92%;
    zoom:1.1;
}

.form-footer button {
    background-color: white;
    padding: 5px 10px;
    margin-top: 5px;
    color: blue;
    font-weight: 400;
    border:solid .5px blue;
    outline: none;
    cursor: pointer;
}