.form-footer span{
    padding-top: 20px;
    font-size: 0.8125rem;
    color: #cccccc;
    float: left;
    width: 100%;
}
.form-footer span a {
    color: #170ff0;
}
.back-login a{
    color:#393c40
}